

@font-face {
	font-family: "Special Elite";
	src: url(./fonts/SpecialElite-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Raleway";
	src: url(./fonts/raleway/Raleway-Light.ttf) format("truetype");
}

@font-face {
	font-family: "IBM Mono";
	src: url(./fonts/ibm_plex_mono/IBMPlexMono-Light.ttf) format("truetype");
}