

@font-face {
	font-family: "Special Elite";
	src: url(./fonts/SpecialElite-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Raleway";
	src: url(./fonts/raleway/Raleway-Light.ttf) format("truetype");
}

@font-face {
	font-family: "IBMPlexSans";
	src: url(./fonts/ibm_plex_sans/IBMPlexSans-ExtraLight.ttf) format("truetype");
	font-weight: 200;
}
@font-face {
	font-family: "IBMPlexSans";
	src: url(./fonts/ibm_plex_sans/IBMPlexSans-Light.ttf) format("truetype");
	font-weight: 300;
}
@font-face {
	font-family: "IBMPlexSans";
	src: url(./fonts/ibm_plex_sans/IBMPlexSans-Regular.ttf) format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "IBMPlexSans";
	src: url(./fonts/ibm_plex_sans/IBMPlexSans-Medium.ttf) format("truetype");
	font-weight: 500;
}
@font-face {
	font-family: "IBMPlexSans";
	src: url(./fonts/ibm_plex_sans/IBMPlexSans-SemiBold.ttf) format("truetype");
	font-weight: 600;
}
@font-face {
	font-family: "IBMPlexSans";
	src: url(./fonts/ibm_plex_sans/IBMPlexSans-Bold.ttf) format("truetype");
	font-weight: 700;
}
@font-face {
	font-family: "IBMPlexSans";
	src: url(./fonts/ibm_plex_sans/IBMPlexSans-ThinItalic.ttf) format("truetype");
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: "IBMPlexSans";
	src: url(./fonts/ibm_plex_sans/IBMPlexSans-ExtraLightItalic.ttf) format("truetype");
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: "IBMPlexSans";
	src: url(./fonts/ibm_plex_sans/IBMPlexSans-LightItalic.ttf) format("truetype");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: "IBMPlexSans";
	src: url(./fonts/ibm_plex_sans/IBMPlexSans-RegularItalic.ttf) format("truetype");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "IBMPlexSans";
	src: url(./fonts/ibm_plex_sans/IBMPlexSans-MediumItalic.ttf) format("truetype");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: "IBMPlexSans";
	src: url(./fonts/ibm_plex_sans/IBMPlexSans-SemiBoldItalic.ttf) format("truetype");
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: "IBMPlexSans";
	src: url(./fonts/ibm_plex_sans/IBMPlexSans-BoldItalic.ttf) format("truetype");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "IBMPlexMono";
	src: url(./fonts/ibm_plex_mono/IBMPlexMono-Thin.ttf) format("truetype");
	font-weight: 100;
}
@font-face {
	font-family: "IBMPlexMono";
	src: url(./fonts/ibm_plex_mono/IBMPlexMono-ExtraLight.ttf) format("truetype");
	font-weight: 200;
}
@font-face {
	font-family: "IBMPlexMono";
	src: url(./fonts/ibm_plex_mono/IBMPlexMono-Light.ttf) format("truetype");
	font-weight: 300;
}
@font-face {
	font-family: "IBMPlexMono";
	src: url(./fonts/ibm_plex_mono/IBMPlexMono-Regular.ttf) format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "IBMPlexMono";
	src: url(./fonts/ibm_plex_mono/IBMPlexMono-Medium.ttf) format("truetype");
	font-weight: 500;
}
@font-face {
	font-family: "IBMPlexMono";
	src: url(./fonts/ibm_plex_mono/IBMPlexMono-SemiBold.ttf) format("truetype");
	font-weight: 600;
}
@font-face {
	font-family: "IBMPlexMono";
	src: url(./fonts/ibm_plex_mono/IBMPlexMono-Bold.ttf) format("truetype");
	font-weight: 700;
}
@font-face {
	font-family: "IBMPlexMono";
	src: url(./fonts/ibm_plex_mono/IBMPlexMono-ThinItalic.ttf) format("truetype");
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: "IBMPlexMono";
	src: url(./fonts/ibm_plex_mono/IBMPlexMono-ExtraLightItalic.ttf) format("truetype");
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: "IBMPlexMono";
	src: url(./fonts/ibm_plex_mono/IBMPlexMono-LightItalic.ttf) format("truetype");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: "IBMPlexMono";
	src: url(./fonts/ibm_plex_mono/IBMPlexMono-RegularItalic.ttf) format("truetype");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "IBMPlexMono";
	src: url(./fonts/ibm_plex_mono/IBMPlexMono-MediumItalic.ttf) format("truetype");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: "IBMPlexMono";
	src: url(./fonts/ibm_plex_mono/IBMPlexMono-SemiBoldItalic.ttf) format("truetype");
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: "IBMPlexMono";
	src: url(./fonts/ibm_plex_mono/IBMPlexMono-BoldItalic.ttf) format("truetype");
	font-weight: 700;
	font-style: italic;
}